* {
  box-sizing: border-box;
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote {
  margin: 0;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.league-spartan-regular {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.league-spartan-medium {
  font-weight: 500;
}

.league-spartan-bold {
  font-weight: 700;
}

.container {
  /* max-width: 1110px; */
  /* border: 2px solid green; */
  /* margin-right: auto; */
  margin-inline-end: auto;
  margin-inline-start: auto;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  /* box-sizing: content-box; */
  max-width: 1130px;
}

section {
  /* background-color: #000000; */
  min-height: 800px;
  padding-block-start: 120px;
  padding-block-end: 100px;
  background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
  /* background-image: url(./images/image-anne.jpg),url(./images/image-colton.jpg); */
  background-repeat: no-repeat;
  background-position: 0 0, right 0 bottom 0;
  /* background-image: url(./images/image-colton.jpg); */
}

.top {
  display: flex;
  /* column-gap: 125px; */
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  flex-wrap: wrap;
  row-gap: 30px;
}

.top>div {
  max-width: 445px;
}

.top ul {
  max-width: 540px;
  width: 100%;
  /* background-color: #cd1c1c; */
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  /* align-items: start; */
}

.top ul li:nth-child(2) {
  align-self: center;
}

.top ul li:nth-child(3) {
  align-self: end;
}

.top ul li {
  background: #F7F2F7;
  border-radius: 8px;
  width: 445px;
  height: 56px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: var(--very-dark-magenta);
  /* border: 1px solid red; */
  /* padding-left: 180px;
  padding-right: 32px; */
  padding-inline: 180px 32px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  padding-block: 20px;
  background-image: url(./images/stars.svg);
  background-repeat: no-repeat;
  background-position: 32px center;
  /* margin-bottom: 16px; */
}

/* .top ul li:last-child{
  margin-bottom: 0;
} */
/* .top ul li:not(:last-child){
  margin-bottom: 16px;
 } */

h2 {

  /* width: 445px;
height: 154px; */
  font-weight: 700;
  font-size: 56px;
  line-height: 48px;

  letter-spacing: -2px;

  color: var(--very-dark-magenta);
  /* margin-bottom: 16px; */
  margin-block-end: 16px;
}

p {
  /* width: 445px;
height: 75px; */
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: -0.6px;
  color: var(--dark-grayish-magenta);
}

.bottom {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
  min-height: 266px;
  align-items: start;
}

blockquote {
  background-color: var(--very-dark-magenta);
  /* border: 5px solid red; */
  padding: 40px 32px 35px;
  border-radius: 8px;
  max-width: 350px;
  min-height: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}

blockquote:nth-child(2) {
  align-self: center;
}

blockquote:nth-child(3) {
  align-self: flex-end;
}

blockquote div {
  display: flex;
  column-gap: 23px;
  align-items: center;

}

blockquote img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

cite span {
  display: block;
  font-style: normal;
}

cite span:first-child {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: var(--white);
  margin-bottom: 4px;
}

cite span:last-child {
  font-size: 17px;
  line-height: 16px;
  color: var(--soft-pink);
}

q {
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: var(--white);
}

@media(max-width:900px) {
  body {
    /* background-color: red; */

  }

  .container {
    max-width: 327px;
  }

  section {
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    padding-block-start: 80px;
  }

  .top {
    text-align: center;
    row-gap: 39px;
  }

  h2 {
    font-family: 'League Spartan';
    font-size: 40px;
    line-height: 32px;
    letter-spacing: -1.4px;
    width: 327px;
  }

  .top ul li:nth-child(1) {
    align-self: center;
  }

  .top ul li:nth-child(3) {
    align-self: center;
  }

  .top ul li {
    width: 327px;
    height: 78px;
    padding-inline: 55px;
    padding-block: 47px 15px;
    background-position: center 15px;
    
  }
  

  .bottom {
    flex-direction: column;
    row-gap: 16px;
  }

  blockquote:nth-child(1) {
    align-self: center;
  }

  blockquote:nth-child(3) {
    align-self: center;
  }

}